body{
    background: #ccf5ff;
}
table{
     border-collapse:collapse;
       margin-left:auto;
       margin-right:auto;
}
div{
     width:800px;
     height:200px;
     margin-left:auto;
     margin-right:auto;
     margin-top:50px;
}
td{
     width:100px;
     height:50px;
     border:1px solid black;
     text-align:center;
}
.centre{
    background: blue;
}
.first{
    background: #00cc7a;
    color: #white;
}