fieldset{
    width: 400px;
    margin: 25px;
    padding: 15px;
   }

input,select{
    float: right;
    width: 200px;
}

.wrapper-table{
    width: 380px;
    margin: auto;
    height: 25px;
    padding: 5px;
}

.button-send{
    margin: 15px;
}

.addGroup{
    position: relative;
    }

table{
    border: 1px solid black;
    border-collapse: collapse;
    position: relative;
    float: left;
    margin: 25px;
    margin-top: 10px;
}
table td, table th{
    padding: 10px;
    border: 1px solid black;
}
